:host {
  --secondary-color: #901956;
  --secondary-color-dark: #701343;
}

.profile-container {
  max-width: 900px;
  margin: 2rem auto 5rem;
  padding: 2rem;
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  font-family: 'Poppins', sans-serif;
}

.profile-header {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-header h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.profile-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.btn {
  color: var(--white);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 1rem;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-dark);
  transform: translateY(-2px);
}

.btn-logout {
  background-color: var(--secondary-color);
}

.btn-logout:hover {
  background-color: var(--secondary-color-dark);
  transform: translateY(-2px);
}

.section-title {
  margin-bottom: 1.5rem;
  color: var(--primary-color);
  font-size: 1.75rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

.booking-item {
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  transition: box-shadow 0.3s ease;
}

.booking-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.booking-details p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  color: var(--text-color);
}

.booking-details strong {
    font-weight: 600;
    color: #000;
}

.room-image {
  max-width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius);
  margin-top: 1rem;
}

.no-bookings {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color);
  padding: 2rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}