<div class="container">
  <div class="card">
  @if (user) {
    <div class="admin-form-header">
      <h2>Welcome, {{ user.firstName }}</h2>
    </div>

    <div >
      <button class="btn btn-primary" (click)="handleEditProfile()">Edit Profile</button>
      <button class="btn btn-logout" (click)="handleLogout()">Logout</button>
    </div>

    @if (error) {
      <p class="error">{{ error }}</p>
    }

    <div class="profile-details">
        <h3 class="section-title">My Profile Details</h3>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone Number:</strong> {{ user.phoneNumber }}</p>
    </div>


    <section class="bookings-section">
      <h3 class="section-title">My Booking History</h3>
      @if (bookings && bookings.length > 0) {
        @for (booking of bookings; track booking.bookingReference) {
          <div class="booking-item">
            <div class="booking-details">
                <p><strong>Booking Code:</strong> {{ booking?.bookingReference }}</p>
                <p><strong>Check-in Date:</strong> {{ booking?.checkInDate | date }}</p>
                <p><strong>Check-out Date:</strong> {{ booking?.checkOutDate | date }}</p>
                <p><strong>Payment Status:</strong> {{ booking?.paymentStatus }}</p>
                <p><strong>Booking Status:</strong> {{ booking?.bookingStatus }}</p>
                <p><strong>Amount:</strong> {{ booking?.totalPrice | currency }}</p>
                <p><strong>Room Number:</strong> {{ booking?.room?.roomNumber }}</p>
                <p><strong>Room Type:</strong> {{ booking?.room?.type }}</p>
            </div>
            <img class="room-image" [src]="imageBaseUrl + booking?.room?.imageUrl" alt="Room image for room {{booking?.room?.roomNumber}}" />
          </div>
        }
      } @else {
        <div class="no-bookings">
          <p>No bookings found.</p>
        </div>
      }
    </section>
  } @else {
    <p class="text-center">Loading profile...</p>
  }
</div>
</div>