<section class="head">
  <div class="container flex1">
    <div class="scoial">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <div class="logo">
      <img src="/images/logo.PNG" alt="Lusan Hotel" />
    </div>
    <div class="address">
      <i class="fas fa-map-marker-alt"></i>
      <span>205 Fida Walinton, Tongo Street Front, USA</span>
    </div>
  </div>
</section>

<header class="header" [class.sticky]="isSticky">
  <div class="container">
    <nav class="navbar flex1">
      <div class="sticky_logo logo">
        <img class="" src="/images/logo.PNG" alt="Lusan Hotel" />
      </div>

      <ul class="nav-menu" [class.open]="isMenuOpen()">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/rooms">Rooms</a></li>
        
        <li><a routerLink="/testimonials">Testimonials</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li>
          <a routerLink="/find-booking" routerLinkActive="active">Find Booking</a>
        </li>

        @if (isCustomer) {
        <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
        } @if (isAdmin) {
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
        } @if (!isAuthenticated) {
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        } @if (isAuthenticated) {
        <li><button (click)="handleLogout()">Logout</button></li>
        }
      </ul>

      <div class="hamburger" (click)="toggleMenu()" [class.active]="menuOpen">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </div>
</header>
