.search-container {
  background-color: var(--white);
  padding: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  margin-top: -5rem;
  position: relative;
  z-index: 10;
}

.search-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  align-items: end;
}

.search-button-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  padding-left: 0.3rem;
  padding-top: 0.7rem;
}

.search-button-wrapper .btn {
  width: 100%;
  /* align-self: flex-end; */
  /* align-self: center; */
}

.error {
  color: #d9534f;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .search-form {
    grid-template-columns: 1fr;
  }
}